<ActionBar class="action-bar">
    <Label class="action-bar-title" text=" "></Label>
</ActionBar>

<StackLayout>
    <TextView android:layout_width="wrap_content" android:layout_height="wrap_content"
              android:textSize="21.3sp" android:textColor="#252525" android:gravity="center_horizontal"
              tools:text="Reset Password"></TextView>
              
    <Image src="res://group" stretch="none" horizontalAlignment="center"></Image>

    <TextView android:layout_width="wrap_content" android:layout_height="wrap_content"
              android:textSize="17sp"   android:textColor="#252525" android:gravity="center_horizontal"
              tools:text="Please check your email."></TextView>

    <TextView android:layout_width="wrap_content" android:layout_height="wrap_content"
              android:textSize="13.6sp" android:textColor="#909090" android:gravity="center_horizontal"
              tools:text="We have sent you a reset password link to your registered email."></TextView>

    <Button text="Go to Login" class="btn btn-primary m-t-20"></Button>
    
</Stacklayout>